.container {
  position: absolute;
  display: flex;
  text-align: center;
  justify-items: center;
}

.ps {
  font-size: 0.7rem;
}

.sec {
  margin: 1rem;
  border: 1px solid white;

}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.container main {
  margin: 0rem 9%;
  max-width: 80%;
}
