.container {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.sec {
  display: flex;
  flex-direction: column;
  min-width: 33%;
  width: 33%;
  justify-items: flex-start;
  text-align: center;
}

.sec ul {
  padding: 0;
}
