.container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.sec {
  margin-top: 4rem;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
